{% load static %}
{% load carts_tags %}

{% anonymous_user_carts request as carts %}

{% for cart in carts %}
  <div class="cart-item">
    {% if cart.item.preview_image %}
      <img src="{{ cart.item.preview_image.url }}" alt="{{ cart.item.name }}" />
    {% else %}
      <img src="{% static 'hanbild/images/image_not_found.png' %}" alt="{{ cart.item.name }}" />
    {% endif %}
    <div class="item-details">
      <h3>{{ cart.item.name }}</h3>
      <p>
        Quantity: <input class="number" value="{{ cart.quantity }} шт." readonly type="text" />
      </p>
      <a class="plus-btn" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">{% csrf_token %}+</a>
      <a class="minus-btn" data-cart-quantity="{{ cart.quantity }}" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">{% csrf_token %}-</a>
      <a href="{% url 'cart:cart_remove' %}" data-cart-id="{{ cart.id }}" class="remove-btn">Remove</a>
      {% csrf_token %}
      <p>
        Price: $<span class="price">{{ cart.goods_price }}</span>
      </p>
    </div>
  </div>
{% endfor %}

<div id="summary">
  <h2>Summary</h2>
  <p>
    Total Items: <span id="total-items">{{ carts.total_quantity }}</span>
  </p>
  <p>
    Total Price: $<span id="total-price">{{ carts.total_price }}</span>
  </p>
</div>
