{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div style="display: flex; flex-direction: column; gap: 20px;">
    {% for category in categories %}
      <div style="display: flex; flex-direction: column; border: 1px solid black; gap: 5px; width: 400px;">
        {% if category.image %}
          <img src="{{ category.image.url }}" alt="{{ category.name }}" />
        {% else %}
          <img height="140" src="{% static 'hanbild/images/image_not_found.png' %}" alt="{{ category.name }}" />
        {% endif %}
        <div>{{ category.name }}</div>
        <a href="{% url "catalog:category" category.slug %}">{% translate "Детальніше" %}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
